[mysqld]
# User statistics
userstat = 1

# Performance Schema
performance_schema = 1

# Query Response Time plugin
plugin_load_add = query_response_time
query_response_time_stats = 1

# Metadata Lock Info plugin
plugin_load_add = metadata_lock_info

# Server Audit plugin
plugin_load_add = server_audit
server_audit_logging = ON
server_audit_events = CONNECT,QUERY_DDL,QUERY_DML
server_audit_output_type = FILE
server_audit_file_path = /var/log/mysql/audit.log
server_audit_file_rotate_size = 10485760

# SSL/TLS Configuration (disabled for testing)
# ssl_ca = /etc/mysql/conf.d/certs/ca-cert.pem
# ssl_cert = /etc/mysql/conf.d/certs/server-cert.pem
# ssl_key = /etc/mysql/conf.d/certs/server-key.pem
# require_secure_transport = OFF
